* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans Hebrew Condensed', serif;
}

#logo{
    width: 100%;
}

#homePageLink{
    display: block;
    width: 20%;
}

.pageHeader{
    margin:auto;
}

body {
    background-image: url('../images/background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

main{
    background-color: whitesmoke;
    width: 45%;
    padding: 3%;
    border-radius: 1%;
    align-items: center;
    margin: auto;
    margin-bottom: 15%;
}

div{
   margin-bottom: 5%; 
}

#addPageImg{
    width: 10%;
    height: 10%;
    margin-right: 10px;
}

#newPageHeader{
    margin-top: 2%;
    margin-bottom: 3%;
    margin-right: 5%;
    display: flex;
    align-items: center;
    padding: 10px;
}

.lbl{
    width: 30%;
    display: inline-block;
    font-weight: bold;
    font-size: 18px;
    vertical-align: top;
}
.txt{
    width: 60%;
    padding: 1%;
    background-color: whitesmoke;
    text-align: center;
}
.button {
    background-color: #324f65;
    border-radius: 8px;
    padding: 8px 12px;
    text-align: center;
    vertical-align: baseline;
    transition: transform 0.1s;
}
.button input[type="submit"] {
    background-color: #324f65;
    color: white;
    border: none;
    font-size: 18px;
    font-weight: bold;
    width: 100%;
}

.button input[type="submit"]:hover ,.button:hover{
   transform: scale(1.05);
   background-color: steelblue;
}

.lifeStory {
    width: 90%;
    resize: vertical;
    margin: 3%;
    padding: 2%;
}

.profile{
    width: 20%;
}

.burial-img{
    width: 50%;
}

.auto{
    margin: auto;
    font-weight: bold;
    text-align: center;
    margin-bottom: 2%;
}
.burial-img-box{
    width: 27%;
    display: inline-block;
    float: rigth;
    margin-right: 4%;
}
.burialGallery{
    overflow: auto;
}

.burial-img #profile{
    width: 100%;
}

@media screen and (max-width: 768px) {
    #addPageTitle {
        font-size: 20px;
    }
    .burial-img-box{
        display: block;
        width:50%;
        margin: auto;
    }
    main{
        width: 90%;
    }
}

@media screen and (max-width: 992px) {

    main{
        width: 90%;
    }

}
@media screen and (max-width: 1250px) {
    main{
        width: 80%;
    }
}



