input[type="text"] {
    width: 300px;
    max-width: 100%;
}
.list{
    margin-top: 20px;
}
.message, .event, .place{
    margin-bottom: 20px;
}
.date {
    font-size: 14px;
    color: gray;
}
.content {
    margin-top: 5px;
}
.image {
    max-width: 400px;
    margin-top: 10px;
    border-radius: 5px;
}
.place .name {
    font-size: 16px;
    font-weight: bold;
}
.place .location {
    font-size: 14px;
    color: gray;
}
.img-main {
    width: 80%;
    height: 80%;
}
.main-content {
    width: 100%;
    margin: auto;
    text-align: center;
}
#main-gallery{
    width: 20%;
}

#eventList1{
    display: flex;
    justify-content: center;
    background-color: 324f65;
    padding: 10px 0;
    list-style: none;

}


#eventList1 button{
    background-color: #324f65;
    border-radius: 8px;
    color: white;
    font-size: 14px;
    line-height: 20px;
    padding: 10px 12px;
    text-align: center;
    vertical-align: baseline;
    transition: transform 0.1s;
    margin-top: 40px;
    margin: 4px;
}

#eventList1 button:hover {
    transform: scale(1.05);
}

#eventsTitle{
    text-align: center;
}

@media screen and (max-width: 768px) {
    #main-gallery {
        width: 70%;
    }
}