footer * {
    display: inline-block;
}

footer {
    background-color: whitesmoke;
    width: 100%;
    padding: 10px;
    overflow: auto;
    text-align: center;
    margin-top:7%;
    bottom: 0;
    
}

.footer-menu ul {
    list-style: none;
    margin: auto;
}

.footer-menu li {
    margin: 0 10px;
}

.footer-menu a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    font-weight: bold;
}
.footer-info {
    float: left;
}
.footer-logo{
    float: right;
    width: 10%;
    bottom: 0;
}

#pop-menu{
    margin: auto;
    margin-top: 2%;
    direction: rtl;
    text-align: center;
}

