
footer {
    background-color: lightgray;
    width: 100%;
    padding: 20px;
    bottom: 0;
    position: fixed;
    margin-top: 10%;
}

.footer-menu ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

.footer-menu li {
    margin: 0 10px;
}

.footer-menu a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    font-weight: bold;
}
.footer-info {
    float: left;
    position: absolute;
    left: 1%;
}
.footer-logo{
    float: right;
    width: 10%;
    top: 1%;
    position: absolute;
}

#pop-div{
    margin: auto;
    margin-top: 1%;
    direction: rtl;
    text-align: center;
    display: flex;
    justify-content: center;
}