* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

#logo{
    display: block;
    margin: auto;
    width: 30%;
}

body {
    background-image: url('../images/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}

div{
   margin-bottom: 10%; 
   overflow: auto;
   outline: solid 1px black;
}
#addPageImg{
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

#newPageHeader{
    margin-top: 2%;
    margin-bottom: 3%;
    /*text-align: center;*/
    display: flex;
    /*justify-content: center;*/
    align-items: center;
    padding: 10px;
    border: 1px solid palevioletred;
}
fieldset{
    margin-bottom: 10%;
}
.lbl{
    width: 100%;
    float: left;
    border: 1px solid blue;
    display: inline-block;
}
.txt{
    float: left;
    width: 60%;
    background-color: #dadada;
    margin-right: 10%;
    border: 3px solid green;
    text-align: center;
}
.button {
    background-color: #324f65;
    border-radius: 8px;
    border: none;
    color: white;
    font-size: 14px;
    line-height: 20px;
    padding: 8px 12px;
    text-align: center;
    vertical-align: baseline;
    transition: transform 0.1s;
    margin-top: 25px;
}
.button:hover {
   transform: scale(1.05);
   background-color: #45a049;
}