body {
    background-image: url('../images/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
}

#photo{
    width: 25%;
    float: right;
    margin: 1%;
}

#zl{
    font-size: 50%;
}

[class*="row-"] {
    background-color:azure;
    width: 50%;
    margin: auto;
    margin-top: 2%;

}
/*
.mainDetails{
    background-color:azure;
    width: 50%;
    margin: auto;
}*/
.description{
    float: right;
    width: 35%;

}
.summary{
    float: right;
    width: 35%;    
}
/*
.lifeStory{
    background-color: azure;
    width: 50%;
    margin: auto;
}*/
